body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 2em;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

nav {
    border-bottom: 1px solid #B4CF66;
    padding: 16px;
    background-color: #FF5A33;
}
.main-page-link {
    color: white;
    text-decoration: none;
}

.recipe-tags {
    color: #44803F;
    text-decoration: none;
}

h1{
    color: #146152;
}

.recipes-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-header {
    grid-column: 1 / 5;
}
